{{define "collection-breadcrumbs"}}
    {{if and .Collection (not .SingleUser)}}<nav id="org-nav"><a href="/me/c/">Мае блогі</a> / <a class="coll-name" href="/{{.Collection.Alias}}/">{{.Collection.DisplayTitle}}</a></nav>{{end}}
{{end}}

{{define "collection-nav"}}
    {{if not .SingleUser}}
    <header class="admin">
        <nav class="pager">
            <a href="{{if .SingleUser}}/me/new{{ else }}/new#{{.Alias}}{{end}}" class="btn gentlecta">Новы допіс</a>
            <a href="/me/c/{{.Alias}}" {{if and (hasPrefix .Path "/me/c/") (hasSuffix .Path .Alias)}}class="selected"{{end}}>Наладзіць</a>
            <a href="/me/c/{{.Alias}}/stats" {{if hasSuffix .Path "/stats"}}class="selected"{{end}}>Статыстыка</a>
            <a href="{{if .SingleUser}}/{{else}}/{{.Alias}}/{{end}}">Праглядзець блог &rarr;</a>
        </nav>
    </header>
    {{end}}
{{end}}
