{{define "user-silenced"}}
<div class="alert info">
	<p><strong>Ваш уліковы запіс замоўчаны.</strong> Вы ўсё яшчэ можаце атрымаць доступ да ўсіх сваіх допісаў і блогаў, але ніхто іншы не можа іх бачыць.</p>
</div>
{{end}}
