{{define "footer"}}
		<footer>
			<hr />
			<nav>
				<a class="home" href="/">{{.SiteName}}</a>
				<a href="/about">Пра нас</a>
				{{if and .LocalTimeline .CanViewReader (not .Chorus)}}<a href="/read">Стужка</a>{{end}}
				{{if .Username}}<a href="https://writefreely.org/guide/{{.OfficialVersion}}" target="guide">Інструкцыя для аўтараў</a>{{end}}
				<a href="/privacy">Палітыка прыватнасці</a>
				<p style="font-size: 0.9em">Працуе на базе адаптаванай версіі <a href="https://github.com/it-beard/writefreely-vkl" target="_blank">WriteFreely</a></p>
			</nav>
		</footer>
{{end}}
