{{define "head"}}<title>Старонка не знойдзена &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">Старонка не знойдзена.</p>
			<p>Вы ўпэўнены, што яна ўвогуле была?</p>
		</div>
{{end}}
