{{define "base"}}<!DOCTYPE HTML>
<html>
	<head>
		{{ template "head" . }}
		<link rel="stylesheet" type="text/css" href="/css/{{.Theme}}.css" />
		{{if .CustomCSS}}<link rel="stylesheet" type="text/css" href="/local/custom.css" />{{end}}
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="application-name" content="{{.SiteName}}">
		<meta name="application-url" content="{{.Host}}">
		<meta property="og:site_name" content="{{.SiteName}}" />
		<style>
			.left-side h2 a {
				font-family: Lora,'Palatino Linotype','Book Antiqua','New York','DejaVu serif',serif !important;
			}
		</style>
	</head>
	<body {{template "body-attrs" .}}>
		<div id="overlay"></div>
		{{ template "user-navigation" . }}

		<div id="official-writing">
			{{ template "content" . }}
		</div>

		{{ template "footer" . }}
		
		{{if not .JSDisabled}}
		<script type="text/javascript" src="/js/menu.js"></script>
		<script type="text/javascript">
		{{if .WebFonts}}
		try { // Google Fonts
		  WebFontConfig = {
			custom: { families: [ 'Lora:400,700:latin', 'Open+Sans:400,700:latin' ], urls: [ '/css/fonts.css' ] }
		  };
		  (function() {
			var wf = document.createElement('script');
			wf.src = '/js/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
			})();
		} catch (e) { /* ¯\_(ツ)_/¯ */ }
		{{end}}
		</script>
		{{else}}
			{{if .WebFonts}}<link href="/css/fonts.css" rel="stylesheet" type="text/css" />{{end}}
		{{end}}
	</body>
</html>{{end}}
{{define "body-attrs"}}{{end}}
