{{define "head"}}
	<!-- Main page -->
	<title>{{.SiteName}}</title>
	<link rel="alternate" type="application/rss+xml" title="{{.SiteName}}" href="/read/feed/" />
	{{if gt .CurrentPage 1}}<link rel="prev" href="{{.PrevPageURL .CurrentPage}}">{{end}}
	{{if lt .CurrentPage .TotalPages}}<link rel="next" href="{{.NextPageURL .CurrentPage}}">{{end}}
	<meta name="description" content="Read the latest posts from {{.SiteName}}.">
	<meta itemprop="name" content="{{.SiteName}} Reader">
	<meta itemprop="description" content="Read the latest posts from {{.SiteName}}.">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{.SiteName}} Reader">
	<meta name="twitter:description" content="Read the latest posts from {{.SiteName}}.">
	<meta property="og:title" content="{{.SiteName}} Reader" />
	<meta property="og:type" content="object" />
	<meta property="og:description" content="Read the latest posts from {{.SiteName}}." />
	<style>

	</style>
{{end}}
{{define "body-attrs"}}id="collection" class="reader"{{end}}
{{define "content"}}
	<div class="content-container snug">
		{{if not .Chorus }}<h1>{{.ContentTitle}}</h1>{{end}}
		<p{{if .SelTopic}} style="text-align:center"{{end}}>
			{{if .SelTopic}}#{{.SelTopic}} posts{{else}}{{.Content}}{{end}}
		</p>
	</div>
		<div id="wrapper">
		{{ if gt (len .Posts) 0 }}
		<section itemscope itemtype="http://schema.org/Blog">
			{{range .Posts}}<article class="{{.Font}} h-entry" itemscope itemtype="http://schema.org/BlogPosting">
			{{if .Title.String -}}
				<h2 class="post-title" itemprop="name" class="p-name">
					{{- if .IsPaid}}{{template "paid-badge" .}}{{end -}}
					<a href="{{if .Slug.String}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}" itemprop="url" class="u-url">{{.PlainDisplayTitle}}</a>
				</h2>
				<div class="dt-published">
					{{if not .Title.String}}<a href="{{.Collection.CanonicalURL}}{{.Slug.String}}" itemprop="url">{{end}}
						{{.DisplayDate}}
					{{if not .Title.String}}</a>{{end}}
				</div>
				<span class="delimiter"> ~ </span>
				<p class="source-one-line">{{if .Collection}}<a href="{{.Collection.CanonicalURL}}">{{.Collection.DisplayTitle}}</a>{{else}}<em>Ананіма</em>{{end}}</p>
			{{- else -}}
				<h2 class="post-title" itemprop="name">
					{{- if .IsPaid}}{{template "paid-badge" .}}{{end -}}
					<div class="dt-published-header">
						<a href="{{if .Collection}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}" itemprop="url" class="u-url">
							{{.DisplayDate}}
						</a>
					</div>
				</h2>
				<p class="source">{{if .Collection}}<a href="{{.Collection.CanonicalURL}}">{{.Collection.DisplayTitle}}</a>{{else}}<em>Ананіма</em>{{end}}</p>
			{{- end}}
			{{if .Excerpt}}<div class="p-summary">{{.Excerpt}}</div>
		
			<a class="read-more" href="{{if .Collection}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}">Чытаць далей...</a>{{else}}<div class="e-content preview">{{ if not .HTMLContent }}<p id="post-body" class="e-content preview">{{.Content}}</p>{{ else }}{{.HTMLContent}}{{ end }}<div class="over">&nbsp;</div></div>
			<a class="read-more maybe" href="{{if .Collection}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}">Чытаць далей...</a>{{end}}</article>
			{{end}}
		</section>
		{{ else }}
		<div class="attention-box">
			<p>Пакуль допісаў няма.</p>
		</div>
		{{ end }}

		{{if gt .TotalPages 1}}<nav id="paging" class="content-container clearfix">
			{{if lt .CurrentPage .TotalPages}}<a href="{{.NextPageURL .CurrentPage}}">&#8672; Старыя</a>{{end}}
			{{if gt .CurrentPage 1}}<a style="float:right;" href="{{.PrevPageURL .CurrentPage}}">Новыя &#8674;</a>{{end}}
		</nav>{{end}}

		</div>
		<script src="/js/localdate.js"> </script>
		<script type="text/javascript">
		(function() {
			var $articles = document.querySelectorAll('article');
			for (var i=0; i<$articles.length; i++) {
				var $art = $articles[i];
				var $more = $art.querySelector('.read-more.maybe');
				if ($more != null) {
					if ($art.querySelector('.e-content.preview').clientHeight < 180) {
						$more.parentNode.removeChild($more);
						var $overlay = $art.querySelector('.over');
						$overlay.parentNode.removeChild($overlay);
					}
				}
			}
		})();
		</script>
{{end}}
