{{define "head"}}<title>{{.SiteName}}</title>
	<link rel="alternate" type="application/rss+xml" title="{{.SiteName}}" href="/read/feed/" />
	{{if gt .CurrentPage 1}}<link rel="prev" href="{{.PrevPageURL .CurrentPage}}">{{end}}
	{{if lt .CurrentPage .TotalPages}}<link rel="next" href="{{.NextPageURL .CurrentPage}}">{{end}}
	<meta name="description" content="Read the latest posts from {{.SiteName}}.">
	<meta itemprop="name" content="{{.SiteName}} Reader">
	<meta itemprop="description" content="Read the latest posts from {{.SiteName}}.">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{.SiteName}} Reader">
	<meta name="twitter:description" content="Read the latest posts from {{.SiteName}}.">
	<meta property="og:title" content="{{.SiteName}} Reader" />
	<meta property="og:type" content="object" />
	<meta property="og:description" content="Read the latest posts from {{.SiteName}}." />
	<style>
		.heading h1 {
			font-weight: 300;
			text-align: center;
			margin: 3em 0 0;
		}
		.heading p {
			text-align: center;
			margin: 1.5em 0 4.5em;
			font-size: 1.1em;
			color: #777;
		}

		#wrapper div,
		#wrapper a  {
			font-family: 'Roboto',sans-serif !important;
		}

		.preview {
			max-height: 180px;
			overflow: hidden;
			position: relative;
		}
		.preview .over {
			position: absolute;
			top: 5em;
			bottom: 0;
			left: 0;
			right: 0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}

		article {
			border-bottom: 1.5px solid #f7f4f4;
			padding: 0.9em 0 2em 0 !important;
			margin-bottom: 2em !important;
		}

		article:last-child {
			border-bottom: none;
			margin-bottom: 0em !important;
			padding-bottom: 0 !important;
		}

		article:first-child {
			border-top: 1.5px solid #f7f4f4;
			padding-top: 2em !important;
		}

		article p.source {
			margin-bottom: 0;
			display: inline;
		}

		article p.source-one-line {
			margin-bottom: 0;
			display: inline !important;
		}

		div.dt-published-header {
			text-transform: lowercase;
		}

		div.dt-published {
		display: inline;
		text-transform: lowercase;
		color: #8b8b8b;
			border-radius: 3px;
		}

		.attention-box {
			text-align: center;
			font-size: 1.1em;
		}
		.attention-box hr { margin: 4rem auto; }
		hr { max-width: 40rem; }
		header {
			padding: 0 !important;
			text-align: left !important;
			margin: 1em !important;
			max-width: 100% !important;
		}
		header nav#user-nav {
			margin-left: 0 !important;
		}
		body#collection header nav.tabs a:first-child {
			margin-left: 1em;
		}
		body#collection article {
			max-width: 40em !important;
		}

		.delimiter {
			color: #a4a1a1;
			padding: 0 0.2em;
			display: inline-block;
		}

		h2.post-title {
			margin-bottom: .50em !important;
		}
	</style>
{{end}}
{{define "body-attrs"}}id="collection"{{end}}
{{define "content"}}
	<div class="content-container snug">
		{{if not .Chorus }}<h1>{{.ContentTitle}}</h1>{{end}}
		<p{{if .SelTopic}} style="text-align:center"{{end}}>
			{{if .SelTopic}}#{{.SelTopic}} posts{{else}}{{.Content}}{{end}}
		</p>
	</div>
		<div id="wrapper">
		{{ if gt (len .Posts) 0 }}
		<section itemscope itemtype="http://schema.org/Blog">
			{{range .Posts}}<article class="{{.Font}} h-entry" itemscope itemtype="http://schema.org/BlogPosting">
			{{if .Title.String -}}
				<h2 class="post-title" itemprop="name" class="p-name">
					{{- if .IsPaid}}{{template "paid-badge" .}}{{end -}}
					<a href="{{if .Slug.String}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}" itemprop="url" class="u-url">{{.PlainDisplayTitle}}</a>
				</h2>
				<div class="dt-published">
					{{if not .Title.String}}<a href="{{.Collection.CanonicalURL}}{{.Slug.String}}" itemprop="url">{{end}}
						{{.DisplayDate}}
					{{if not .Title.String}}</a>{{end}}
				</div>
				<span class="delimiter"> ~ </span>
				<p class="source-one-line">{{if .Collection}}<a href="{{.Collection.CanonicalURL}}">{{.Collection.DisplayTitle}}</a>{{else}}<em>Ананіма</em>{{end}}</p>
			{{- else -}}
				<h2 class="post-title" itemprop="name">
					{{- if .IsPaid}}{{template "paid-badge" .}}{{end -}}
					<div class="dt-published-header">
						<a href="{{if .Collection}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}" itemprop="url" class="u-url">
							{{.DisplayDate}}
						</a>
					</div>
				</h2>
				<p class="source">{{if .Collection}}<a href="{{.Collection.CanonicalURL}}">{{.Collection.DisplayTitle}}</a>{{else}}<em>Ананіма</em>{{end}}</p>
			{{- end}}
			{{if .Excerpt}}<div class="p-summary" {{if .Language}}lang="{{.Language.String}}"{{end}} dir="{{.Direction}}">{{.Excerpt}}</div>
		
			<a class="read-more" href="{{if .Collection}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}">Чытаць далей...</a>{{else}}<div class="e-content preview" {{if .Language}}lang="{{.Language.String}}"{{end}} dir="{{.Direction}}">{{ if not .HTMLContent }}<p id="post-body" class="e-content preview">{{.Content}}</p>{{ else }}{{.HTMLContent}}{{ end }}<div class="over">&nbsp;</div></div>
			<a class="read-more maybe" href="{{if .Collection}}{{.Collection.CanonicalURL}}{{.Slug.String}}{{else}}{{.CanonicalURL .Host}}.md{{end}}">Чытаць далей...</a>{{end}}</article>
			{{end}}
		</section>
		{{ else }}
		<div class="attention-box">
			<p>Пакуль допісаў няма.</p>
		</div>
		{{ end }}

		{{if gt .TotalPages 1}}<nav id="paging" class="content-container clearfix">
			{{if lt .CurrentPage .TotalPages}}<a href="{{.NextPageURL .CurrentPage}}">&#8672; Старыя</a>{{end}}
			{{if gt .CurrentPage 1}}<a style="float:right;" href="{{.PrevPageURL .CurrentPage}}">Новыя &#8674;</a>{{end}}
		</nav>{{end}}

		</div>
		<script src="/js/localdate.js"> </script>
		<script type="text/javascript">
		(function() {
			var $articles = document.querySelectorAll('article');
			for (var i=0; i<$articles.length; i++) {
				var $art = $articles[i];
				var $more = $art.querySelector('.read-more.maybe');
				if ($more != null) {
					if ($art.querySelector('.e-content.preview').clientHeight < 180) {
						$more.parentNode.removeChild($more);
						var $overlay = $art.querySelector('.over');
						$overlay.parentNode.removeChild($overlay);
					}
				}
			}
		})();
		</script>
{{end}}
