{{define "collection"}}
{{template "header" .}}

<style>
textarea.section.norm {
	font-family: Lora,'Palatino Linotype','Book Antiqua','New York','DejaVu serif',serif !important;
	min-height: 10em;
	max-height: 20em;
	resize: vertical;
}
@media (pointer: coarse) {
	.codable {
		font-size: 0.75em !important;
		height: 17em !important;
	}
}
.links-lable {
	font-size: 0.9em;
	font-style: italic;
}
</style>

<div class="content-container snug">
	<div id="overlay"></div>

	{{if .Silenced}}
		{{template "user-silenced"}}
	{{end}}

	{{template "collection-breadcrumbs" .}}

	<h1>Налады блога</h1>

	{{template "collection-nav" (dict "Alias" .Alias "Path" .Path "SingleUser" .SingleUser)}}

	{{if .Flashes}}<ul class="errors">
		{{range .Flashes}}<li class="urgent">{{.}}</li>{{end}}
	</ul>{{end}}

<form name="customize-form" action="/api/collections/{{.Alias}}" method="post" onsubmit="return disableSubmit()">
<div id="collection-options">
	<div style="text-align:center">
		<h1><input type="text" name="title" id="title" value="{{.DisplayTitle}}" placeholder="Title" /></h1>
		<p>
			<textarea name="description" class="section codable" id="description">{{.Description}}</textarea>
			<div style="float: right; margin-top: -15px;" id="counter"></div>
		</p>
	</div>

	<div class="option">
		<h2><a name="preferred-url"></a>Спасылкі</h2>
		<div class="section">
			{{if eq .Alias .Username}}<p style="font-size: 0.8em">
				Гэты блог выкарыстоўвае ваша імя карыстальніка ў сваім URL-адрасе{{if .Federation}}, адрасе ў Федывёрсе{{end}} ды RSS-стужцы. Вы можаце змяніць гэта праз <a href="/me/settings">налады уліковага запісу</a>.{{end}}
			<ul style="list-style:none">
				<li>
					<span class="links-lable">URL:</span> {{.FriendlyHost}}/<strong>{{.Alias}}</strong>/
				</li>
				<li>
					<span class="links-lable">Федывёрс:</span> <strong id="normal-handle-env" class="fedi-handle" {{if not .Federation}}style="display:none"{{end}}>@<span id="fedi-handle">{{.Alias}}</span>@<span id="fedi-domain">{{.FriendlyHost}}</span></strong>
				</li>
				<li>
					<span class="links-lable">RSS:</span> {{.FriendlyHost}}/<strong>{{.Alias}}</strong>/feed/
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>Бачнасць</h2>
		<div class="section">
			<ul style="list-style:none">
				<li>
					<label><input type="radio" name="visibility" id="visibility-unlisted" value="0" {{if .IsUnlisted}}checked="checked"{{end}} />
						Даступны па спасылцы
					</label>
					<p>Гэты блог бачны ўсім{{if .Private}} зарэгістраваным карыстальнікам{{else}}, хто мае спасылку.{{end}}.</p>
				</li>
				<li>
				<label class="option-text"><input type="radio" name="visibility" id="visibility-private" value="2" {{if .IsPrivate}}checked="checked"{{end}} />
						Прыватны
					</label>
					<p>Толькі вы можаце чытаць гэты блог (пакуль вы знаходзіцеся ў сістэме).</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="visibility" id="visibility-protected" value="4" {{if .IsProtected}}checked="checked"{{end}} />
						Даступны праз пароль: <input type="password" class="low-profile" name="password" id="collection-pass" autocomplete="new-password" placeholder="{{if .IsProtected}}xxxxxxxxxxxxxxxx{{else}}запамінальны пароль{{end}}" />
					</label>
					<p>Для чытання гэтага блога патрабуецца пароль.</p>
				</li>
				{{if not .SingleUser}}
				<li>
					<label class="option-text{{if not .LocalTimeline}} disabled{{end}}"><input type="radio" name="visibility" id="visibility-public" value="1" {{if .IsPublic}}checked="checked"{{end}} {{if not .LocalTimeline}}disabled="disabled"{{end}} />
						Агульнадаступны
					</label>
					{{if .LocalTimeline}}<p>Гэты блог бачны ў агульнадаступнай <a href="/read">стужцы</a>, ды бачны {{if .Private}}ўсім зарэгістраваным карыстальнікам{{else}}ўсім па яго спасылках{{end}}.</p>
					{{else}}<p>Публічныя блогі зараз адключаны для гэтага сервера.</p>{{end}}
				</li>
				{{end}}
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>Фармат</h2>
		<div class="section">
			<p class="explain">Наладзьце спосаб адлюстравання вашых допісаў у блозе.
			</p>
			<ul style="list-style:none">
				<li>
					<label><input type="radio" name="format" id="format-blog" value="blog" {{if or (not .Format) (eq .Format "blog")}}checked="checked"{{end}} />
						Блог
					</label>
					<p>Паказваюцца даты допісаў. Новыя допісы паказваюцца першымі.</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="format" id="format-novel" value="novel" {{if eq .Format "novel"}}checked="checked"{{end}} />
						Раман
					</label>
					<p>Даты допісаў не паказваюцца. Старэйшыя допісы паказваюцца першымі.</p>
				</li>
				<li>
					<label class="option-text"><input type="radio" name="format" id="format-notebook" value="notebook" {{if eq .Format "notebook"}}checked="checked"{{end}} />
						Нататнік
					</label>
					<p>Даты допісаў не паказваюцца. Новыя допісы паказваюцца першымі.</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>Візуалізацыя тэксту</h2>
		<div class="section">
			<p class="explain">Наладзьце спосаб адлюстравання звычайнага тэксту ў вашым блозе.</p>
			<ul style="list-style:none">
				<li>
					<label class="option-text disabled"><input type="checkbox" name="markdown" checked="checked" disabled />
						Markdown
					</label>
				</li>
				<li>
					<label><input type="checkbox" name="mathjax" {{if .RenderMathJax}}checked="checked"{{end}} />
						MathJax
					</label>
				</li>
			</ul>
		</div>
	</div>

	<div class="option">
		<h2>Карыстальніцкі CSS</h2>
		<div class="section">
			<textarea id="css-editor" class="section codable" name="style_sheet">{{.StyleSheet}}</textarea>
			<p class="explain">Невялічкая <a href="https://guides.write.as/customizing/#custom-css" target="_blank">інструкція</a>, ды база <a href="https://write.as/themes/" target="_blank">гатовых карыстальніцкіх CSS</a>.</p>
		</div>
	</div>

	<div class="option">
		<h2>Подпіс</h2>
		<div class="section">
			<p class="explain">
				Гэты подпіс будзе дададзены ў канцы кожнага допіса ў гэтым блозе, 
				як калі б гэта была частка самаго допіса. Markdown, HTML ды shortcodes дазволены.
			</p>
			<textarea id="signature" class="section norm" name="signature">{{.Signature}}</textarea>
		</div>
	</div>

	{{if .UserPage.StaticPage.AppCfg.Monetization}}
	<div class="option">
		<h2>Web Monetization</h2>
		<div class="section">
			<p class="explain">Web Monetization enables you to receive micropayments from readers that have a <a href="https://coil.com">Coil membership</a>. Add your payment pointer to enable Web Monetization on your blog.</p>
			<input type="text" name="monetization_pointer" style="width:100%" value="{{.Collection.Monetization}}" placeholder="$wallet.example.com/alice" />
		</div>
	</div>
	{{end}}

	<div class="option" style="text-align: center; margin-top: 4em;">
		<input type="submit" id="save-changes" value="Захаваць змены" />
		<p><a href="{{if .SingleUser}}/{{else}}/{{.Alias}}/{{end}}">Праглядзець блог</a></p>
		{{if ne .Alias .Username}}<p><a class="danger" href="#modal-delete" onclick="promptDelete();">Выдаліць блог...</a></p>{{end}}
	</div>
</div>
</form>
</div>

		<div id="modal-delete" class="modal">
			<h2>Вы ўпэўнены, што хочаце выдаліць гэты блог?</h2>
			<div class="body short">
				<p style="text-align:left">Гэта дзеянне цалкам выдаліць блог <strong>{{.DisplayTitle}}</strong> ({{.FriendlyHost}}/{{.Alias}}) 
					з інтэрнэта. Усе допісы гэтага блога будуць захаваны і ператвораны ў чарнавікі (знайсці іх можна на староцы <a href="/me/posts/">Чарнавікі</a>).</p>
				<p>Калі вы ўпэўнены, што жадаеце выдаліць гэты блог, то увядзіце яго назву ў поле ніжэй і націсніце на кнопку <strong>Выдаліць</strong>.</p>

				<ul id="delete-errors" class="errors"></ul>

				<input id="confirm-text" placeholder="{{.Alias}}" type="text" class="boxy" style="margin-top: 0.5em;" />
				<div style="text-align:right; margin-top: 1em;">
					<a id="cancel-delete" style="margin-right:2em" href="#">Адмяніць</a>
					<button id="btn-delete" class="danger" onclick="deleteBlog(); return false;">Выдаліць</button>
				</div>
			</div>
		</div>

<script src="/js/h.js"></script>
<script src="/js/modals.js"></script>
<script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
H.getEl('cancel-delete').on('click', closeModals);
var deleteBlog = function(e) {
	if (document.getElementById('confirm-text').value != '{{.Alias}}') {
		document.getElementById('delete-errors').innerHTML = '<li class="urgent">Enter <strong>{{.Alias}}</strong> in the box below.</li>';
		return;
	}
	// Clear errors
	document.getElementById('delete-errors').innerHTML = '';
	document.getElementById('btn-delete').innerHTML = 'Deleting...';

	var http = new XMLHttpRequest();
	var url = "/api/collections/{{.Alias}}?web=1";
	http.open("DELETE", url, true);
	http.setRequestHeader("Content-type", "application/json");
	http.onreadystatechange = function() {
		if (http.readyState == 4) {
			if (http.status == 204) {
				window.location = '/me/c/';
			} else {
				var data = JSON.parse(http.responseText);
				document.getElementById('delete-errors').innerHTML = '<li class="urgent">'+data.error_msg+'</li>';
				document.getElementById('btn-delete').innerHTML = 'Delete';
			}
		}
	};
	http.send(null);
};

function createHidden(theForm, key, value) {
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key;
    input.value = value;
    theForm.appendChild(input);
}
function disableSubmit() {
	var $form = document.forms['customize-form'];
	createHidden($form, 'style_sheet', cssEditor.getSession().getValue());
	var $btn = document.getElementById("save-changes");
	$btn.value = "Saving changes...";
	$btn.disabled = true;
	return true;
}
function promptDelete() {
	showModal("delete");
}

var $fediDomain = document.getElementById('fedi-domain');
var $fediCustomDomain = document.getElementById('fedi-custom-domain');
var $customDomain = document.getElementById('domain-alias');
var $customHandleEnv = document.getElementById('custom-handle-env');
var $normalHandleEnv = document.getElementById('normal-handle-env');

if (matchMedia('(pointer:fine)').matches) {
	// Only initialize Ace editor on devices with a mouse
	var opt = {
		showLineNumbers: false,
		showPrintMargin: 0,
		minLines: 10,
		maxLines: 40,
	};
	var theme = "ace/theme/chrome";
	var cssEditor = ace.edit("css-editor");
	cssEditor.setTheme(theme);
	cssEditor.session.setMode("ace/mode/css");
	cssEditor.setOptions(opt);
	cssEditor.resize(true);
}
</script>

<script>
	const inputField = document.getElementById('description');
	const counter = document.getElementById('counter');
	const maxLength = 1000;

	inputField.addEventListener('input', () => {
		let inputValue = inputField.value;
		let newLines = (inputValue.match(/\n/g) || []).length;
		let inputLength = inputValue.length + newLines; 

		counter.textContent = `${inputLength}/${maxLength}`;

		if (inputLength > maxLength) {
			inputField.value = inputValue.slice(0, maxLength - newLines);
			inputValue = inputField.value;
			newLines = (inputValue.match(/\n/g) || []).length;
			inputLength = inputValue.length + newLines;
			counter.textContent = `${inputLength}/${maxLength}`;
		}
	});
  </script>

{{template "footer" .}}
{{end}}
